@keyframes btnSetAmin {
  to {
    transform: scale(1); }
  50% {
    transform: scale(1.4); }
  form {
    transform: scale(1); } }

.arena {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #272424;
  transition: left .3s; }
  .arena.open {
    left: 0; }
  .arena .cloud_card1 {
    position: absolute;
    width: 68px;
    height: 27px;
    background-image: url("../../images/cloud.png");
    top: 12%;
    left: 16%;
    animation: cloudMove1 18s infinite linear; }
  .arena .cloud_card2 {
    position: absolute;
    width: 68px;
    height: 27px;
    background-image: url("../../images/cloud.png");
    top: 19%;
    right: 12%;
    animation: cloudMove2 18s infinite linear; }
  .arena .ui {
    position: absolute; }
    .arena .ui.start1 {
      width: 13px;
      height: 20px;
      background-image: url("../../images/star1.png");
      top: 30%;
      left: 10%;
      animation: starMove1 3s infinite linear; }
    .arena .ui.start2 {
      width: 13px;
      height: 21px;
      background-image: url("../../images/star2.png");
      top: 37%;
      right: 5%;
      animation: starMove2 2s infinite linear; }
    .arena .ui.start3 {
      width: 13px;
      height: 20px;
      background-image: url("../../images/star1.png");
      top: 75%;
      left: 5%;
      animation: starMove3 4s infinite linear; }
    .arena .ui.Elf1 {
      bottom: 10%;
      left: 120px;
      width: 26px;
      height: 25px;
      background-image: url("../../images/Elf1.png");
      animation: ElfMove 2s infinite linear; }
    .arena .ui.Elf2 {
      top: 15%;
      left: 25%;
      width: 26px;
      height: 25px;
      background-image: url("../../images/Elf2.png");
      animation: ElfMove 2s infinite linear; }
    .arena .ui.Elf3 {
      bottom: 15%;
      right: 8%;
      width: 26px;
      height: 25px;
      background-image: url("../../images/Elf3.png");
      animation: ElfMove 2s infinite linear; }
    .arena .ui.bg_footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 159px;
      background-position: -35px 0%;
      background-image: url("../../images/bgfooter.png"); }
  .arena .card-title {
    display: block;
    width: 481px;
    height: auto;
    margin: 90px auto 0 auto; }
    .arena .card-title > img {
      width: 100%;
      height: auto;
      margin-bottom: 50px; }

.go-back-link-in-arena {
  display: block;
  width: 151px;
  height: 25px;
  margin: 0 auto;
  background-image: url("../../images/goBack.png");
  animation: btnSetAmin 2s infinite linear; }

.battle-field {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  height: 500px; }
  .battle-field .left {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 100px;
    flex: 1 1; }
    .battle-field .left .left-item {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
  .battle-field .center {
    display: inline-flex;
    justify-content: center;
    flex: 1 1; }
  .battle-field .right {
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 100px;
    flex: 1 1; }
    .battle-field .right .right-item {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
    .battle-field .right > .texttotu {
      width: 100%;
      height: 300px;
      overflow: auto;
      padding: 0 20px;
      background-color: rgba(255, 255, 255, 0.1); }
      .battle-field .right > .texttotu > p, .battle-field .right > .texttotu > p > a {
        color: #fff;
        font-size: 13px;
        line-height: 32px; }
      .battle-field .right > .texttotu a {
        text-decoration: underline; }
        .battle-field .right > .texttotu a:hover {
          color: #FFF100; }

.select_card_field {
  position: relative;
  width: 240px;
  height: 45px;
  background-size: 240px;
  background-repeat: no-repeat;
  background-image: url("../../images/select.png"); }
  .select_card_field select {
    position: absolute;
    top: 8px;
    left: 20px;
    width: 200px;
    height: 30px;
    border: 0;
    background-color: rgba(39, 36, 36, 0);
    outline: none;
    font-size: 16px;
    color: white;
    text-align: center;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none; }

.bet_eth_field {
  position: relative;
  width: 240px;
  height: 45px;
  background-size: 240px;
  background-repeat: no-repeat;
  background-image: url("../../images/inputETH.png"); }
  .bet_eth_field input {
    position: absolute;
    top: 8px;
    left: 20px;
    width: 150px;
    height: 30px;
    border: 0;
    background-color: #272424;
    outline: none;
    font-size: 16px;
    color: white;
    text-align: center; }

.place_bet_button {
  display: inline-block;
  margin-top: 10px;
  width: 150px; }

.history-button {
  display: inline-block;
  margin-top: 10px;
  width: 150px;
  cursor: pointer; }

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px; }

.battle-result {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10px;
  height: 400px; }
  .battle-result .left, .battle-result .right, .battle-result .center {
    display: inline-flex;
    justify-content: center;
    flex: 1 1; }
  .battle-result .center {
    flex-direction: column;
    align-items: center; }
    .battle-result .center span {
      margin-top: 10px;
      font-size: 32px;
      font-weight: 600; }
      .battle-result .center span.big {
        color: #FFF100; }
      .battle-result .center span.small {
        color: #FFF100; }

.result-center-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 5px solid white;
  border-radius: 10px; }
  .result-center-container img {
    width: 36px;
    height: 61px; }
  .result-center-container.isSmall img {
    transform: scaleX(-1); }

.battle-result-win {
  position: relative;
  margin-top: 20px;
  text-align: center; }
  .battle-result-win .start1, .battle-result-win .start2, .battle-result-win .start3, .battle-result-win .start4, .battle-result-win .start5, .battle-result-win .start6 {
    position: absolute; }
  .battle-result-win .start1 {
    width: 13px;
    height: 20px;
    background-image: url("../../images/star1.png");
    top: 15%;
    left: 15%;
    animation: starMove1 3s infinite linear; }
  .battle-result-win .start2 {
    width: 13px;
    height: 21px;
    background-image: url("../../images/star2.png");
    top: 37%;
    left: 26%;
    animation: starMove2 2s infinite linear; }
  .battle-result-win .start3 {
    width: 13px;
    height: 20px;
    background-image: url("../../images/star1.png");
    top: 30%;
    left: 20%;
    animation: starMove3 4s infinite linear; }
  .battle-result-win .start4 {
    width: 13px;
    height: 20px;
    background-image: url("../../images/star1.png");
    top: 15%;
    right: 15%;
    animation: starMove1 3s infinite linear; }
  .battle-result-win .start5 {
    width: 13px;
    height: 21px;
    background-image: url("../../images/star2.png");
    top: 37%;
    right: 26%;
    animation: starMove2 2s infinite linear; }
  .battle-result-win .start6 {
    width: 13px;
    height: 20px;
    background-image: url("../../images/star1.png");
    top: 30%;
    right: 20%;
    animation: starMove3 4s infinite linear; }
  .battle-result-win .win {
    display: inline-block;
    width: 486px;
    height: 73px; }

.battle-result-lose {
  position: relative;
  margin-top: 20px;
  text-align: center; }
  .battle-result-lose .ghost1 {
    position: absolute;
    display: inline-block;
    width: 64px;
    height: 63px;
    background-image: url("../../images/lostelf.png");
    top: 15%;
    left: 25%; }
  .battle-result-lose .ghost2 {
    position: absolute;
    display: inline-block;
    width: 64px;
    height: 63px;
    background-image: url("../../images/lostelf.png");
    top: 15%;
    right: 25%; }
  .battle-result-lose .lost {
    display: inline-block;
    width: 486px;
    height: 73px; }

.battle-history-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.battle-history-field {
  background-color: rgba(140, 140, 140, 0.5);
  display: inline-block;
  margin: 0 auto;
  width: 80%;
  height: 480px;
  border-radius: 20px;
  padding: 20px 50px;
  overflow-y: scroll; }
  .battle-history-field .header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #7bc3b7; }
    .battle-history-field .header span {
      flex: 1 1; }
  .battle-history-field .content {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px; }
    .battle-history-field .content span {
      flex: 1 1;
      font-size: 30px;
      color: #7bc3b7; }
  .battle-history-field .player img {
    width: 126px;
    height: 22px; }
  .battle-history-field .player-bet img {
    width: 199px;
    height: 22px; }
  .battle-history-field .result img {
    width: 127px;
    height: 23px; }
