@keyframes btnSetAmin {
  to {
    transform: scale(1); }
  50% {
    transform: scale(1.4); }
  form {
    transform: scale(1); } }

.arena {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #272424;
  transition: left .3s; }
  .arena.open {
    left: 0; }
  .arena .cloud_card1 {
    position: absolute;
    width: 68px;
    height: 27px;
    background-image: url("../../images/cloud.png");
    top: 12%;
    left: 16%;
    animation: cloudMove1 18s infinite linear; }
  .arena .cloud_card2 {
    position: absolute;
    width: 68px;
    height: 27px;
    background-image: url("../../images/cloud.png");
    top: 19%;
    right: 12%;
    animation: cloudMove2 18s infinite linear; }
  .arena .ui {
    position: absolute; }
    .arena .ui.start1 {
      width: 13px;
      height: 20px;
      background-image: url("../../images/star1.png");
      top: 30%;
      left: 10%;
      animation: starMove1 3s infinite linear; }
    .arena .ui.start2 {
      width: 13px;
      height: 21px;
      background-image: url("../../images/star2.png");
      top: 37%;
      right: 5%;
      animation: starMove2 2s infinite linear; }
    .arena .ui.start3 {
      width: 13px;
      height: 20px;
      background-image: url("../../images/star1.png");
      top: 75%;
      left: 5%;
      animation: starMove3 4s infinite linear; }
    .arena .ui.Elf1 {
      bottom: 10%;
      left: 120px;
      width: 26px;
      height: 25px;
      background-image: url("../../images/Elf1.png");
      animation: ElfMove 2s infinite linear; }
    .arena .ui.Elf2 {
      top: 15%;
      left: 25%;
      width: 26px;
      height: 25px;
      background-image: url("../../images/Elf2.png");
      animation: ElfMove 2s infinite linear; }
    .arena .ui.Elf3 {
      bottom: 15%;
      right: 8%;
      width: 26px;
      height: 25px;
      background-image: url("../../images/Elf3.png");
      animation: ElfMove 2s infinite linear; }
    .arena .ui.bg_footer {
      bottom: 0;
      width: 100%;
      height: 159px;
      background-position: -35px 0%;
      background-image: url("../../images/bgfooter.png"); }
  .arena .card-title {
    display: block;
    width: 481px;
    height: auto;
    margin: 90px auto 0 auto; }
    .arena .card-title > img {
      width: 100%;
      height: auto;
      margin-bottom: 50px; }
    .arena .card-title a.go-back {
      display: block;
      width: 151px;
      height: 25px;
      margin: 0 auto;
      background-image: url("../../images/goBack.png");
      animation: btnSetAmin 2s infinite linear; }

.battle-field {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  height: 500px; }
  .battle-field .left {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 100px;
    flex: 1 1; }
    .battle-field .left .left-item {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
  .battle-field .center {
    display: inline-flex;
    justify-content: center;
    flex: 1 1; }
  .battle-field .right {
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 100px;
    flex: 1 1; }
    .battle-field .right .right-item {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }

.select_card_field {
  position: relative;
  width: 240px;
  height: 45px;
  background-size: 240px;
  background-repeat: no-repeat;
  background-image: url("../../images/select.png"); }
  .select_card_field select {
    position: absolute;
    top: 8px;
    left: 20px;
    width: 200px;
    height: 30px;
    border: 0;
    background-color: rgba(39, 36, 36, 0);
    outline: none;
    font-size: 16px;
    color: white;
    text-align: center;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none; }

.bet_eth_field {
  position: relative;
  width: 240px;
  height: 45px;
  background-size: 240px;
  background-repeat: no-repeat;
  background-image: url("../../images/inputETH.png"); }
  .bet_eth_field input {
    position: absolute;
    top: 8px;
    left: 20px;
    width: 150px;
    height: 30px;
    border: 0;
    background-color: #272424;
    outline: none;
    font-size: 16px;
    color: white;
    text-align: center; }

.place_bet_button {
  display: inline-block;
  margin-top: 10px;
  width: 150px; }

.history-button {
  display: inline-block;
  margin-top: 10px;
  width: 150px;
  cursor: pointer; }

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px; }
