@keyframes btnSetAmin {
  to {
    transform: scale(1); }
  50% {
    transform: scale(1.4); }
  form {
    transform: scale(1); } }

.arena {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #272424;
  transition: left .3s; }
  .arena.open {
    left: 0; }
  .arena .card-title {
    display: block;
    width: 481px;
    height: auto;
    margin: 90px auto 0 auto; }
    .arena .card-title > img {
      width: 100%;
      height: auto;
      margin-bottom: 50px; }
    .arena .card-title a.go-back {
      display: block;
      width: 151px;
      height: 25px;
      margin: 0 auto;
      background-image: url("../../images/goBack.png");
      animation: btnSetAmin 2s infinite linear; }
