.loading-coin-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.9); }
  .loading-coin-container img {
    display: inline-block;
    width: 302px;
    height: auto;
    animation: loading_coin_breath 2s infinite linear; }
