.loading-coin-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(51, 51, 51);


  & img {
    display: inline-block;
    width: 302px;
    height: 318px;

    animation: loading_coin_breath 2s infinite linear;
  }
}