// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }

// .App-header {
//   background-color: #222;
//   height: 150px;
//   padding: 20px;
//   color: white;
// }

// .App-title {
//   font-size: 1.5em;
// }

// .App-intro {
//   font-size: large;
// }

// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }

// .gotoPlayGame{
//   width: 200px;
//   height: 200px;
//   background-color: yellow;
//   color: #fff;
// }
@keyframes btnMove {
  to {
    bottom: 0%;
  }
  50% {
    bottom: -5%;
  }
  form {
    bottom: 0%;
  }
}

@keyframes cloudMove1 {
  to {
    left: 10%;
  }
  50% {
    left: 13%;
  }
  form {
    left: 10%;
  }
}

@keyframes cloudMove2 {
  to {
    right: 13%;
  }
  50% {
    right: 17%;
  }
  form {
    right: 13%;
  }
}
.App{
  position: relative;
  // text-align: left;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  .titlebox{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    >img.title{
      width: 530px;
      margin-bottom: 40px;
    }
    >img.title2{
      width: 239px;
      margin-bottom: 80px;
    }
    a.gameplay{
      position: absolute;
      bottom: 0;
      display: block;
      width: 250px;
      height: 40px;
      background-image: url("../images/gameplaybtn.png"); 
      background-size: 152px 23px;
      background-repeat: no-repeat;
      background-position: center center;
      animation: btnMove 2s infinite linear;
      &:before, &:after{
        position: absolute;
        display: block;
        width: 47px;
        height: 37px;
        background-image: url("../images/loveicon.png");
        top: 3px;
      }
      &:before{
        content:"";
        left: -20px;
      }
      &:after{
        content:"";
        right: -20px
      }
    }
  }
  img.logo{
    position: absolute;
    width: 90px;
    height: 47px;
    bottom: 13%;
  }
  .ladder{
    position: absolute;
    width: 133px;
    height: 274px;
    background-image: url("../images/ladder.png");
    bottom: 38px;
    left: 75px;
  }
  .ui{
    position: absolute;
    &.footer{
      width: 100%;
      height: 107px;
      bottom: 0;
      left: 0;
      background-image: url("../images/footer.png");
      background-position: center;
    }
    &.tree1{
      width: 155px;
      height: 288px;
      background-image: url("../images/tree1.png");
      left: -50px;
      bottom: 0;
    }
    &.tree2{
      width: 300px;
      height: 577px;
      background-image: url("../images/tree2.png");
      right: -65px;
      bottom: 0;
    }
    &.cloud{
      top: 20%;
      left: 10%;
      width: 68px;
      height: 27px;
      background-image: url("../images/cloud.png");
      animation: cloudMove1 18s infinite linear;
    }
    &.cloud2{
      top: 50%;
      right: 13%;
      width: 68px;
      height: 27px;
      background-image: url("../images/cloud.png");
      animation: cloudMove2 10s infinite linear;
    }
    &.start1{
      width: 13px;
      height: 20px;
      background-image: url("../images/star1.png");
      top: 30%;
      left: 20%;
    }
    &.start2{
      width: 13px;
      height: 21px;
      background-image: url("../images/star2.png");
      top: 35%;
      right: 26%;
    }
    &.start3{
      width: 13px;
      height: 20px;
      background-image: url("../images/star1.png");
      top: 75%;
      left: 30%;
    }
    &.Elf0{
      pointer-events: none;
      top: 0;
      left: 0;
      width: 38px;
      height: 41px;
      background-image: url("../images/Elf0.png");
    }
    &.Elf1{
      bottom: 39%;
      left: 120px;
      width: 26px;
      height: 25px;
      background-image: url("../images/Elf1.png");
    }
    &.Elf2{
      top: 15%;
      left: 25%;
      width: 26px;
      height: 25px;
      background-image: url("../images/Elf2.png");
    }
    &.Elf3{
      bottom: 15%;
      right: 25%;
      width: 26px;
      height: 25px;
      background-image: url("../images/Elf3.png");
    }
    &.fruit1{
      bottom: 10%;
      left: 20%;
      width: 26px;
      height: 31px;
      background-image: url("../images/fruit1.png");
    }
    &.fruit2{
      top: 25%;
      right: 7%;
      width: 22px;
      height: 33px;
      background-image: url("../images/fruit2.png");
    }
  }
}
