@keyframes cloudMove1 {
  to {
    left: 10%; }
  50% {
    left: 13%; }
  form {
    left: 10%; } }

@keyframes cloudMove2 {
  to {
    right: 13%; }
  50% {
    right: 17%; }
  form {
    right: 13%; } }

@keyframes starMove1 {
  to {
    top: 30%; }
  50% {
    top: 32%; }
  form {
    top: 30%; } }

@keyframes starMove2 {
  to {
    top: 37%; }
  50% {
    top: 35%; }
  form {
    top: 37%; } }

@keyframes starMove3 {
  to {
    top: 75%; }
  50% {
    top: 78%; }
  form {
    top: 75%; } }

@keyframes ElfMove {
  to {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  form {
    transform: scale(1); } }

img {
  display: block; }

.App {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .App .index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .App .index .titlebox {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 80px; }
      .App .index .titlebox img.title {
        width: 530px;
        height: auto;
        margin-bottom: 40px; }
      .App .index .titlebox img.title2 {
        width: 239px;
        height: auto;
        margin-bottom: 120px; }
      .App .index .titlebox a.gameplay {
        position: absolute;
        bottom: 0;
        display: block;
        width: 250px;
        height: 40px;
        background-image: url("../images/gameplaybtn.png");
        background-repeat: no-repeat;
        background-position: center center;
        transition: transform .3s;
        background-size: 152px 23px; }
        .App .index .titlebox a.gameplay:hover {
          transform: scale(1.1); }
        .App .index .titlebox a.gameplay:before, .App .index .titlebox a.gameplay:after {
          position: absolute;
          display: block;
          width: 47px;
          height: 37px;
          background-image: url("../images/loveicon.png");
          top: 3px; }
        .App .index .titlebox a.gameplay:before {
          content: "";
          left: -20px; }
        .App .index .titlebox a.gameplay:after {
          content: "";
          right: -20px; }
      .App .index .titlebox a.getCard {
        position: absolute;
        bottom: -20%;
        display: block;
        width: 250px;
        height: 40px;
        background-image: url("../images/getcard.png");
        background-repeat: no-repeat;
        background-position: center center;
        transition: transform .3s;
        background-size: 132px 19px; }
        .App .index .titlebox a.getCard:hover {
          transform: scale(1.1); }
        .App .index .titlebox a.getCard:before, .App .index .titlebox a.getCard:after {
          position: absolute;
          display: block;
          width: 47px;
          height: 37px;
          background-image: url("../images/loveicon.png");
          top: 3px; }
        .App .index .titlebox a.getCard:before {
          content: "";
          left: -20px; }
        .App .index .titlebox a.getCard:after {
          content: "";
          right: -20px; }
    .App .index img.logo {
      position: absolute;
      width: 90px;
      height: 47px;
      bottom: 13%;
      left: 50%;
      margin-left: -45px; }
    .App .index .ladder {
      position: absolute;
      width: 133px;
      height: 274px;
      background-image: url("../images/ladder.png");
      bottom: 38px;
      left: 75px; }
