@import "./_mixinKeyframes.scss";
img{
  display: block;
}
.App{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .index{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    .titlebox{
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;

      margin-bottom: 80px;
      img.title{
        width: 530px;
        height: auto;
        margin-bottom: 40px;
      }
      img.title2{
        width: 239px;
        height: auto;
        margin-bottom: 80px;
      }
      a.gameplay{
        @include GameBtn("../images/gameplaybtn.png", 0);
        background-size: 152px 23px;
      }
      a.getCard{
        @include GameBtn("../images/getcard.png", -20%);
        background-size: 132px 19px;
      }
    }

    img.logo{
      position: absolute;
      width: 90px;
      height: 47px;
      bottom: 13%;
      left: 50%;
      margin-left: -(90px / 2);
    }

    .ladder{
      position: absolute;
      width: 133px;
      height: 274px;
      background-image: url("../images/ladder.png");
      bottom: 38px;
      left: 75px;
    }
  }
}