@keyframes LoadAmin{
    to { transform: scale(1); opacity: 0.5; }
    50% { transform: scale(1.5);  opacity: 1;}
    form { transform: scale(1);  opacity: 0.5; }
}

.loading{
    animation: LoadAmin 1s infinite linear;
    opacity: 0.5;
}