.demo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .demo .cardbox {
    perspective: 800px; }
    .demo .cardbox .gameCard {
      position: relative;
      width: 288px;
      height: 407px;
      transition: all 0.5s linear;
      transform-style: preserve-3d; }
      .demo .cardbox .gameCard.OpenCard {
        transform: rotateY(180deg); }
      .demo .cardbox .gameCard .seeCard {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
        .demo .cardbox .gameCard .seeCard > div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: 100% 100%;
          backface-visibility: hidden;
          transform: rotateY(180deg); }
          .demo .cardbox .gameCard .seeCard > div.c_bg {
            z-index: 1;
            background-image: url("../../images/demo/bg15.png"); }
          .demo .cardbox .gameCard .seeCard > div.c_user {
            z-index: 2;
            background-image: url("../../images/demo/Pixel15.png"); }
          .demo .cardbox .gameCard .seeCard > div.c_number {
            z-index: 3;
            background-image: url("../../images/demo/15.png"); }
      .demo .cardbox .gameCard .BackCard {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../../images/back.png");
        background-size: 100% 100%;
        backface-visibility: hidden; }
