.demo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .demo .gameCard {
    position: relative;
    width: 288px;
    height: 407px;
    transform-style: preserve-3d;
    transition: all 0.5s linear; }
    .demo .gameCard:hover {
      transform: rotateY(180deg); }
    .demo .gameCard .seeCard {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      backface-visibility: hidden; }
      .demo .gameCard .seeCard > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%; }
        .demo .gameCard .seeCard > div.c_bg {
          z-index: 1;
          background-image: url("../../images/demo/bg15.png"); }
        .demo .gameCard .seeCard > div.c_user {
          z-index: 2;
          background-image: url("../../images/demo/Pixel15.png"); }
        .demo .gameCard .seeCard > div.c_number {
          z-index: 3;
          background-image: url("../../images/demo/15.png"); }
    .demo .gameCard .BackCard {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url("../../images/back.png");
      background-size: 100% 100%;
      transform: rotateY(180deg); }
