@keyframes btnSetAmin {
    to { transform:  scale(1);}
    50% { transform: scale(1.4); }
    form { transform: scale(1);}
}
.Card{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #272424;
    transition: left .3s;
    .ui{
        position: absolute;
        &.start1{
          width: 13px;
          height: 20px;
          background-image: url("../../images/star1.png");
          top: 30%;
          left: 10%;
          animation: starMove1 3s infinite linear;
        }
        &.start2{
          width: 13px;
          height: 21px;
          background-image: url("../../images/star2.png");
          top: 37%;
          right: 5%;
          animation: starMove2 2s infinite linear;
        }
        &.start3{
          width: 13px;
          height: 20px;
          background-image: url("../../images/star1.png");
          top: 75%;
          left: 5%;
          animation: starMove3 4s infinite linear;
        }
        &.Elf1{
          bottom: 10%;
          left: 120px;
          width: 26px;
          height: 25px;
          background-image: url("../../images/Elf1.png");
          animation: ElfMove 2s infinite linear;
        }
        &.Elf2{
          top: 15%;
          left: 25%;
          width: 26px;
          height: 25px;
          background-image: url("../../images/Elf2.png");
          animation: ElfMove 2s infinite linear;
        }
        &.Elf3{
          bottom: 15%;
          right: 8%;
          width: 26px;
          height: 25px;
          background-image: url("../../images/Elf3.png");
          animation: ElfMove 2s infinite linear;
        }
      }
    .cardtitle{
        display: block;
        width: 481px;
        height: auto;
        margin: 90px auto 0 auto;
        >img{
            width: 100%;
            height: auto;
            margin-bottom: 50px;
        }
        .btn_box{
            width: 481px;
            >a{
                display: block;
                width: 50%;
                height: 25px;
                background-repeat: no-repeat;
                background-position: center;
            }
            a.goback{
                background-image: url("../../images/goBack.png");
                background-size: 151px 25px;
                float: left;
            }
            a.getHero{
                background-image: url("../../images/getherobtn.png");
                background-size: 165px 25px;
                float: right;
            }
        }
    }
    &.open{
        left: 0;
    }
    .cloud_card1{
        position: absolute;
        width: 68px;
        height: 27px;
        background-image: url("../../images/cloud.png");
        top: 12%;
        left: 16%;
        animation: cloudMove1 18s infinite linear;
    }
    .cloud_card2{
        position: absolute;
        width: 68px;
        height: 27px;
        background-image: url("../../images/cloud.png");
        top: 19%;
        right: 12%;
        animation: cloudMove2 18s infinite linear;
    }
    .c_mid{
        width: 970px;
        height: auto;
        margin: 0 auto;
        padding-top: 80px;
        .addCardBtn{
            width: 25%;
            height: 282px;
            overflow: hidden;
            display: inline-block;
            margin-bottom: 40px;
            >a{
                display: block;
                cursor: pointer;
                position: relative;
                width: 200px;
                height: 282px;
                margin: 0 auto;
                background-size: 100% 100%;
                background-image: url("../../images/addcard.png");
                background-size: 100% 100%;
                opacity: 0.4;
                transition: opacity .2s;
                &:hover{
                    opacity: 0.6;
                }
            }
        }
        .cardBox{
            width: 25%;
            height: auto;
            overflow: hidden;
            display: inline-block;
            margin-bottom: 40px;
            .cardbg{
                cursor: pointer;
                position: relative;
                width: 200px;
                height: 282px;
                margin: 0 auto;
                background-size: 100% 100%;
                >div{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-size: 100% 100%;
                    top: 0;
                    left: 0;
                    &.s_bgcard{z-index: 1;}
                    &.s_user{z-index: 2;}
                    &.s_number{z-index: 3;}
                }
            }
        }
    }
}