@keyframes btnSetAmin {
    to { transform:  scale(1);}
    50% { transform: scale(1.4); }
    form { transform: scale(1);}
}
.Card{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #272424;
    transition: left .3s;
    .ui{
        position: absolute;
        &.start1{
          width: 13px;
          height: 20px;
          background-image: url("../../images/star1.png");
          top: 30%;
          left: 10%;
          animation: starMove1 3s infinite linear;
        }
        &.start2{
          width: 13px;
          height: 21px;
          background-image: url("../../images/star2.png");
          top: 37%;
          right: 5%;
          animation: starMove2 2s infinite linear;
        }
        &.start3{
          width: 13px;
          height: 20px;
          background-image: url("../../images/star1.png");
          top: 75%;
          left: 5%;
          animation: starMove3 4s infinite linear;
        }
        &.Elf1{
          bottom: 10%;
          left: 120px;
          width: 26px;
          height: 25px;
          background-image: url("../../images/Elf1.png");
          animation: ElfMove 2s infinite linear;
        }
        &.Elf2{
          top: 15%;
          left: 25%;
          width: 26px;
          height: 25px;
          background-image: url("../../images/Elf2.png");
          animation: ElfMove 2s infinite linear;
        }
        &.Elf3{
          bottom: 15%;
          right: 8%;
          width: 26px;
          height: 25px;
          background-image: url("../../images/Elf3.png");
          animation: ElfMove 2s infinite linear;
        }
      }
    .cardtitle{
        display: block;
        width: 481px;
        height: auto;
        margin: 90px auto 0 auto;
        >img{
            width: 100%;
            height: auto;
            margin-bottom: 50px;
        }
        a.goback{
            display: block;
            width: 151px;
            height: 25px;
            margin: 0 auto;
            background-image: url("../../images/goBack.png");

            animation: btnSetAmin 2s infinite linear;
        }
    }
    &.open{
        left: 0;
    }
    .cloud_card1{
        position: absolute;
        width: 68px;
        height: 27px;
        background-image: url("../../images/cloud.png");
        top: 12%;
        left: 16%;
        animation: cloudMove1 18s infinite linear;
    }
    .cloud_card2{
        position: absolute;
        width: 68px;
        height: 27px;
        background-image: url("../../images/cloud.png");
        top: 19%;
        right: 12%;
        animation: cloudMove2 18s infinite linear;
    }
    .c_mid{
        width: 970px;
        height: auto;
        margin: 0 auto;
        padding-top: 80px;
        .cardBox{
            width: 25%;
            height: auto;
            overflow: hidden;
            display: inline-block;
            margin-bottom: 40px;
            .cardbg{
                cursor: pointer;
                position: relative;
                width: 200px;
                height: 282px;
                margin: 0 auto;
                background-size: 100% 100%;
                >p{
                    position: absolute;
                    color: #272424;
                    font-size: 12px;
                    left: 25px;
                    &.name{
                        bottom: 58px;
                    }
                    &.hp{
                        bottom: 47px;
                    }
                    &.atk{
                        bottom: 36px;
                    }
                    &.edf{
                        bottom: 25px;
                    }
                }
            }
        }
    }
}